body{
    margin:0;
    padding: 0;
    background-color: rgb(147, 147, 97);
    

}
.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 39, 39);
    color: yellow;
    font-family: cursive;
    
    
}
.logo img{
    display: block;
    height: 50px;
    width: 50px;
}
.menu{
    display: flex;
    list-style: none;
}
.menu-li{
    margin-left: 10px;
}
.menu-li a{
    color: yellow;
    text-decoration: none;
}
.box{
    height: 350px;
    width: 450px;
    background-color:rgb(177, 177, 3);
    margin:auto;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    line-height: 22px;
    
}
#jeff1{
    height: 100px;
    width: 100px;
}
    .jeff2{
        margin: auto;
        background-color: black;
        color: yellow;
        text-align: center;
        font-size: 36;
    }
   
